*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #f0f0f0;
    font-size: 1rem;
}

#navbar{
    display: flex;
    justify-content: end;
    background-color: #be3144;
    width: 100%;
    padding: 20px;
}

.nav-items a{
    padding: 20px;
    font-size: 2rem;
}


a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}
